# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
fyp_venv/
test_venv/
.venv/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# Model cache
# =========================
Prototype/models/models_cache/


# =========================
# Cache / temp
# =========================
.cache/
temp/
tmp/

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# Testing / coverage
# =========================
.coverage
htmlcov/
.pytest_cache/